.main-header {    
    position: relative !important;    
}
.main-header img{
    border: 0 none;
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
    max-height: none;
    vertical-align: middle;
}
.main-header .logo{
    float: none !important;
    width: 100%;
}
.navbar-static-top{
    margin-left: 0px !important;
    margin-top: 50px !important;
}