parameters:
    database_driver: pdo_pgsql
    database_host: localhost
    database_port: null
    database_name: indicadores
    database_user: admin
    database_password: rodriguez
    mailer_transport: smtp
    mailer_host: localhost
    mailer_encryption: ssl
    mailer_auth_mode:  login
    mailer_port: 465
    mailer_user: null
    mailer_password: null
    locale: es_SV
    secret: ThisTokenIsNotSoSecretChangeIt
    database_path: null
    archivo_vitacora: %kernel.logs_dir%/minsal.log
    
    #Configuración de la sala
    graficos_por_fila: 3
    ancho_area_grafico: 370
    alto_area_grafico: 410
    titulo_sala_tamanio_fuente: 12
    ocultar_menu_principal: 0
    logo: 1
    directorio: ''   
    
   
