{% extends 'IndicadoresBundle:CRUD:edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}    
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[id$="_criterios"]').select2({
                closeOnSelect:false,
                width: '100%'
            });
            
            function formatState (state) {
                var partes = state.text.split('-');
                return partes[0] + ' - ' + partes[1] + '<span style="background-color:'+partes[2]+'"> '+partes[2]+'</span>';
            };            
            $('select[id$="_alertas"]').select2({
                formatSelection: formatState,
                formatResult: formatState
            });
        });
    </script>
{% endblock %}