/* 
    Created on : Mar 24, 2016, 4:09:39 PM
    Author     : rigo
*/
.jqx-grid-column-header
{            
    white-space: normal !important;
    vertical-align: middle !important;
}
.celda_no_editable {
    background-color: #FCF9F9;
}
.popover-content{
    background-color: orange;
}
div.si, div.no, div.na{
    width: 60px;
    height: 25px;
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
div.sw_etiqueta{
    width: 60%;
    height: 100%;
    float: left;
    text-align: center;
}

div.na div.sw_etiqueta{
    width: 100%;
    text-align: center;
}
div.sw_separador{
    float: left;
    height: 100%;
    width: 40%;
    background: #dfeffc url("/bundles/gridform/js/jqwidgets4.1/styles/images/redmond/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50%;    
    border-color: #c5dbec;
    color: #2e6e9e;
    border-width: 1px;
}
.si div.sw_separador{
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
}

.no div.sw_separador{
    border-top-left-radius:  5px;
    border-bottom-left-radius: 5px;
}
div.si{
    background-color: #08c65b;
}

div.no{
    background-color: #FF5656;
}
div.na{
    background-color: #F7B138;
}
.jqx-switchbutton-label{
    font-size: 10pt;
}
.jqx-switchbutton-label-on{
    background-color: #DFF0D8 !important;
}
.jqx-switchbutton-label-off{
    background-color: #F2DEDE !important;
}
.switch_cont .jqx-switchbutton-label-off{
    float: none !important;
    width: 90% !important;
}
.jqx-checkbox-check-checked {
    background: transparent url("/bundles/gridform/images/check_si.png") no-repeat scroll center left;
    background-color: #08C65B !important;
    background-size: 60px 25px;
}
.jqx-checkbox-check-indeterminate{
    background: transparent url("/bundles/gridform/images/check_na.png") no-repeat scroll center center;
    background-color: #F7B138 !important;
    background-size: 60px 25px;
}
.jqx-checkbox-default {
    background: transparent url("/bundles/gridform/images/check_no.png") no-repeat scroll center right;
    background-color: #FF5656 !important;
    background-size: 60px 25px;    
}
.jqx-checkbox-default > div, .jqx-checkbox-default > div > span {
    width: 55px !important;
    height: 23px !important;
}
.jqx-checkbox{
    width: 55px !important;
    height: 23px !important;
}
.fila_separador .jqx-grid-cell{
    font-weight: bold !important;
    background-color: #D6D6D6 !important;
}

.descripcion_frm{
    font-weight: bold;
    font-size: 12pt;
}

.tab-pane{
    background: none !important;
    border: none !important;
}
.jqx-grid-content{
    background: none !important;
}
.jqx-tabs-content-element{
    overflow: auto !important;
}

.oculto{
    display: none;
}
.modal-header{
    background-color: #337AB7;
}
.modal{
    z-index: 2050;
}

#ayuda_listado_formulario{
    color: black !important;
}

.modal-alert .modal-header, .modal-alert .modal-content{
    background-color: transparent !important;
    border: none;
}
