.panel_{
    height: 350px !important;
    border: 1 solid red;
}
.glyphicon-off, .fa-user, .fa-caret-down, .glyphicon-th-list{
    color: #FF7722;
}
TR{
    cursor: pointer;
}
.main-header{
    position: fixed;
    width: 100%;
    background-color: #5D5D5D !important;
}
.content-wrapper{
    padding-top: 30px;
}
.titulo_{
    color: white;
    font-weight: bolder;
    font-size: 18pt;
}
.content-wrapper, .right-side {
    background-color: white !important;
}        

DIV.row_tablero {
    height: 350px !important;
}
.listado .panel-body:not(.panel-body-2_1){
    max-height: 273px !important;
    overflow-y: auto;
}
.panel-body-2_1{
    max-height: 293px !important;
    overflow-y: auto;
}
.separador {
    background-color: #D6D6D6;
}
.indentacion_1 {
    padding-left: 20px !important;
}
.indentacion_2 {
    padding-left: 40px !important;
}
.indentacion_2 {
    padding-left: 60px !important;
}
.encabezado_tabla{
    background-color: #88B6D9;
}
#loading {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: white;
    opacity: .9;
    padding-top: 200px;
 }
 .ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; /* -1 * image width / 2 */
    margin-top: -50px;  /* -1 * image height / 2 */
    display: block;
    width: 100px;
    height: 100px;
}

.criterios_cumplidos{
    color: green;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}
.criterios_no_cumplidos{
    color: red;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}
.porc_cumplimiento{
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
.cumplimiento_100_porc{
    font-size: 18pt;
    font-weight: bold;
    background-color: white;
}
.resumen{
    background-color: #D9EDF7;
}
.porc_cumplimiento_criterio{
    font-size: 16pt;
    font-weight: bold;
}

.fila-eval-indicador{
    text-align: center; 
    font-size: 14pt; 
    font-weight: bold;
}
.fila-eval-indicador .calificacion{
    font-size: 16pt;
}

.seleccionado{
    background-color: #FCF8E3;
}

.establecimientoSeleccionado{
    background-color: #3090F0;
}

#grafico1, #grafico1_2{
    height: 97% !important;
}
#radar{
    height: 110% !important;
    width: 110% !important;
}

.content-wrapper{
    margin-top: 15px;
}

label.active{
    color: green !important;
}
label.active span.glyphicon-ok{
    display: inline;
}
label span.glyphicon-ok{
    display: none;
}
