<div class="content tab-pane " id="calidad_datos">
    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a>
                    {{"_calidad_"|trans}}
                </a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="list-group" >
                <A  class='calidad_datos_item list-group-item' data-id="96">
                    PNA - Estándar 1
                </A>
                <A  class='calidad_datos_item list-group-item' data-id="97">
                    PNA - Estándar 2
                </A>
                <A  class='calidad_datos_item list-group-item' data-id="98">
                    PNA - Estándar 3
                </A>
                <A  class='calidad_datos_item list-group-item' data-id="99">
                    PNA - Estándar 4
                </A>
                <A  class='calidad_datos_item list-group-item' data-id="103">
                    PNA - Estándar 5
                </A>
                <A  class='calidad_datos_item list-group-item' data-id="104">
                    PNA - Estándar 6
                </A>
                <A  class='calidad_datos_item list-group-item' data-id="general">
                    Resultados generales
                </A>
            </div>
        </div>
    </div>
</div> 