<div class="content tab-pane " id="calidad_datos">
    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a>
                    {{"_calidad_"|trans}}
                </a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="list-group" >
                <A  class='calidad_datos_item list-group-item'>
                    {{'_datos_calidad_'|trans}}
                </A>
            </div>
        </div>
    </div>
</div> 